.footer {
  background: #1e293b;
  color: #cbd5e1;
  padding: 13px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer h3 {
  margin: 0;
  color: white;
}

.footer p {
  margin: 2px 0;
  font-size: 10px;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}