<div class="container">

  <div class="card" *ngFor="let post of posts">


    <div class="image-section">
      <img src="/images/blogo.jpg" />
    </div>


    <div class="content-section">

      <span class="tag">Blog</span>

      <h3>{{ post.title }}</h3>

      <p>
        {{ post.date }} • {{ post.readTime }}
      </p>

      <p>{{ post.author }}</p>

      <p>{{ post.body.substring(0, 80) }}...</p>

      <div class="actions">
        <a [routerLink]="['/posts', post.id]">Read</a>
        <button (click)="delete(post.id)">Delete</button>
        <button [routerLink]="['/edit', post.id]">Edit</button>
      </div>

    </div>
  </div>

</div>