img {
  max-width: 100%;
  display: inline;
}

.container {
  width: 90%;
  margin: auto;
}
button {
  min-height: 40px;
}

html, body {
  height: 100%;
  margin: 0;
}


app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}